.input {
  background-color: var(--secondary-10);
  border: 2px solid transparent;
  padding: 16px;
  outline: none;
  border-radius: 8px;
  color: var(--secondary-1);
  transition: all 0.3s ease-in;
  width: 100%;

  &:hover,
  &:focus {
    border-color: var(--primary-6);
    box-shadow: 0 0 0 3px var(--primary-4);
  }

  &::placeholder {
    color: var(--secondary-8);
  }
}
